@charset "utf-8";

/*
--------------------------------------------------------------------------
------ Parti générale (body, header)
--------------------------------------------------------------------------
*/
body{
  /* Changer en fonction du style de waview */
  font-family: "Open Sans", arial, sans-serif;
  margin:0;
  background-color: white;
  opacity: 1;

  /* Variable qui permet de modifier l'affichage de tout les formulaires en même temps*/
  /* Pour les TXT, INPUT, SELECT, etc */
  --formMarginLeft : 15%;
  --formMarginRight : 5%;
  --formWidth : 80%;
  --formMarginTop : 2%;
  --formBackgroundColor : #E7EEF9;
  --formPaddingTop:10%;
}

header{
  height:12%;
  background-image: url("../image/im2.jpg");
  background-size:cover;
  opacity: 1;
  margin-top: -20px;
  z-index:10;
}

/* Tout le texte mis en gras */
p{
  font-weight:bold;
}

/* Permet de dire qu'on ne peu changer la taille d'aucune textarea */
textarea{
  resize:none;
}


/*
--------------------------------------------------------------------------
------ Parti header
--------------------------------------------------------------------------
*/
/* Div contenant le logo */
#divLogo{
  width: 33%;
  height:auto;
  position:absolute;
  text-align: left;
  overflow: hidden;
}
#imgLogo{
  width: 73px;
}

/* Div contenant le titre WavMap */
#divTitreHeader{
  width: 33%;
  height:auto;
  text-align: center;
  left: 33%;
  position:absolute;
}
#pTitleHeader{
  color:white;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-top: 9%;
  font-size: 32px;
}

/* Div contenant le bouton de logout */
#btnLogout{
  width: 33%;
  height: auto;
  left: 64%;
  position:absolute;
  text-align: right;
  margin-top:2%;
}
#aLogout{ /* Bouton de deconnexion */
  color:grey;
  font-size:150%;
}
#aLogout:hover{ /* CSS mis en place quand on passe la souris sur le bouton */
  color:white;
}


/*
--------------------------------------------------------------------------
------ Parti Nom + tag actif
--------------------------------------------------------------------------
*/
/* Div contenant le Nom et titre de la personne connecter */
#divNomTagActif{
  width:100%;
  height: 20%;
  opacity: :1;
}
#divNom{
  height: 20%;
  width:60%;
  position:absolute;
  left: 2%;
}
#txtBonjour{
  font-size: 32px;
  vertical-align: middle;
}

/* Div contenant la liste des tags actifs */
#divTagActif{
  height: 20%;
  width:40%;
  left:60%;
  position:absolute;
  font-size:20px;
}
#divTitleTagActif{
  width: 100%;
  height: 20%;
  margin-top: 0;
  position: relative;
}
#txtTitleTagActif{
  margin-block-end: 0;
  margin-block-start: 3%;
}
#divTagUniqueActif{ /* Div de la liste des tags actifs */
  width: 100%;
  height: 70%;
  position:absolute;
  overflow: auto;
}
#ulTagActif{ /* Mise en page de chaque ligne pour chaque tag actif */
  margin-block-end: 0;
  margin-block-start: 3%;
  list-style: none;
  border-radius: 5px;
  background-color: grey;
}
#ulTagActif li::before {
  content: "\002716"; color: #AAB7B8;  /* la croix */
  display: inline-block; width: 2.5em;
  margin-left: -1.5em
}

/* Image de la barre de séparation */
#imgSeparator{
  width:100%;
  height:10%;
  position: relative;
  margin-top: -1%;
  margin-block-end: -1%;
  opacity:1;
}


/*
--------------------------------------------------------------------------
------ Parti body (tag recherche, favoris, liste)
--------------------------------------------------------------------------
*/
/*
Div contenant 3 petites div pour l'affichage des Tags
  - Recherche
  - Tag favoris
  - Tag liste
*/
#divTagContainer{
  height: 65%;
  width:25%;
  margin-top: 6%;
  left:1%;
  z-index:1;
  position:absolute;
  border-radius: 4%;
  background-color: white;
  font-size:20px;
  opacity:1;
}

/* Div pour l'affichage de la barre de recherche */
#divRecherche{
  position:relative;
  width: 90%;
  height: 15%;
  left:5%;
  top: 1%;
}
#txtTitleTagRecherche{
  margin:0;
  font-weight: bold;
}
#divListeTagsRecherches{
  width: 100%;
  height: auto;
  position:relative;
  overflow: scroll;
  padding-top: 5%;
}
#ulLstTagTrouve {
  /* Remove default list styling */
  list-style-type: none;
  margin: 0;
}

/* Div pour l'affichage de la liste des 10 tag favoris */
#divTagFavoris{
  position:relative;
  width: 92%;
  height: 45%;
  left:5%;
}
#txtTitleTagFavoris{
  margin:0;
  font-weight: bold;
}
#ulTagFavoris{
  column-count: 2;
}

/* Div pour l'affichage de la liste complete des tags */
#divTagListe{
  position:relative;
  width: 90%;
  height:38%;
  left:5%;
}
#txtTitleTagListe{
  margin:0;
  font-weight: bold;
}
#divScroll{
  background-color: : red;
  position:relative;lblImgAddPlaceForm
  width: 90%;
  height: 90%;
  overflow: scroll;
}


/*
--------------------------------------------------------------------------
------ Parti body (map)
--------------------------------------------------------------------------
*/
/* Div pour l'affichage de la map*/
#map {
  height: 78%;
  width: 100%;
  top: 10px;
  opacity:1;
}


/*
--------------------------------------------------------------------------
------ Parti formulaire - Générale
--------------------------------------------------------------------------
*/
/* CSS pour la mise en forme générale de tout les formulaires */
.formCSS{
  position:absolute;
  top: 14%;
  z-index: 9;
  background-image: url("../image/fondForm2.webp");
  background-size: cover;
  left: 25vw;
  width:535px;
  text-align:center;
  opacity:1;
  border-radius:10px;
}

/* CSS pour la div des 2 boutons de chaque formulaire */
#divBtn{
  padding-bottom:1%;
  text-align:center;
  margin-top: 10%;
}
#btnAjouter{
  font-size:150%;
}
#btnFermer{
  font-size:150%;
}


/*
--------------------------------------------------------------------------
------ Parti formulaire client - Proposition lieu
--------------------------------------------------------------------------
*/
/* Laisser obligatoirement même vide */
#divFormsNewLieuClient{}

/* Div principale */
#divGeneralFormLieuClient{
  text-align: left;
  margin-left:3%;
  font-size: 20px;
}

/* Parti nom */
#divNomLieuFormClient{
  position: relative;
  margin-top: 3%;
}
#lblNomLieuClient{
  padding-top: var(--formPaddingTop);
}
#inputNomLieuClient{
  margin-left: var(--formMarginLeft);
  margin-top: var(--formMarginTop);
  width: var(--formWidth);
  margin-right: var(--formMarginRight);
}

/* Parti latitude */
#divLatitudeLieuFormClient{
  position: relative;
  margin-top: 3%;
}
#lblLatitudeLieuFormClient{
  padding-top: var(--formPaddingTop);
}
#inputLatitudeLieuFormClient{
  margin-left: var(--formMarginLeft);
  margin-top: var(--formMarginTop);
  width: var(--formWidth);
  margin-right: var(--formMarginRight);
}

/* Parti longitude */
#divLongituteLieuFormClient{
  position: relative;
  margin-top: 3%;
}
#lblLongitudeLieuFormClient{
  padding-top: var(--formPaddingTop);
}
#inputLongitudeLieuFormClient{
  margin-left: var(--formMarginLeft);
  margin-top: var(--formMarginTop);
  width: var(--formWidth);
  margin-right: var(--formMarginRight);
}

/* Parti description */
#divDescriptionLieuFormClient{
  position: relative;
  margin-top: 3%;
}
#lblDescriptionLieuFormClient{
  padding-top: var(--formPaddingTop);
  vertical-align: top;
}
#txtareaDescriptionLieuFormClient{
  margin-left: var(--formMarginLeft);
  margin-top: var(--formMarginTop);
  width: var(--formWidth);
  margin-right: var(--formMarginRight);
}

/* Parti tag correspondant */
#divTagCorrespLieuFormClient{
  position: relative;
  margin-top: 3%;
}
#lblTagCorrespLieuFormClient{
  padding-top: var(--formPaddingTop);
  vertical-align: top;
  width: 35%;
}
#btnBoxMultiSelectTagAddPlaceFormClient{
  margin-left: var(--formMarginLeft);
  margin-top: var(--formMarginTop);
  width: var(--formWidth);
  margin-right: var(--formMarginRight);
}
#divCheckboxesTagAddPlaceFormClient {
  border: 1px #dadada solid;
  margin-left: var(--formMarginLeft);
  margin-top: var(--formMarginTop);
  width: var(--formWidth);
  margin-right: var(--formMarginRight);
}
#divCheckboxesTagAddPlaceFormClient label {
  display: block;
}
#divCheckboxesTagAddPlaceFormClient label:hover {
  background-color: #1e90ff;
}
#txtareaTagCorrespLieuFormClient{
  position: relative;
  margin-left: var(--formMarginLeft);
  margin-top: var(--formMarginTop);
  width: var(--formWidth);
  margin-right: var(--formMarginRight);
  vertical-align: top;
}


/*
--------------------------------------------------------------------------
------ Parti formulaire collaborateur - Ajouter catégorie
--------------------------------------------------------------------------
*/
/* Laisser obligatoirement même vide */
#divFormAddCategorieCollab{}

/* Div générale */
#divGeneralFormAddCategorieCollab{
  text-align: left;
  margin-left:3%;
  font-size: 20px;
}

/* Parti nom */
#divNomFormAddCategorieCollab{
  position: relative;
  margin-top: 3%;
}
#lblNomFormAddCategorieCollab{
  padding-top: var(--formPaddingTop);
}
#inputNomFormAddCategorieCollab{
  margin-left: var(--formMarginLeft);
  margin-top: var(--formMarginTop);
  width: var(--formWidth);
  margin-right: var(--formMarginRight);
}


/*
--------------------------------------------------------------------------
------ Parti formulaire collaborateur - Ajouter Tag
--------------------------------------------------------------------------
*/
/* Laisser obligatoirement même vide */
#divFormAddTagCollab{}

/* Div générale */
#divGeneralAddTagFormCollab{
  text-align: left;
  margin-left:3%;
  font-size: 20px;
}

/* Parti catégorie */
#divSelectCatAddTagFormCollab{
  position: relative;
  margin-top: 3%;
}
#lblSelectCatAddTagFormCollab{
  padding-top: var(--formPaddingTop);
  vertical-align: top;
  width: 35%;
}
#selectCatAddTagFormCollab{
  margin-left: var(--formMarginLeft);
  margin-top: var(--formMarginTop);
  width: var(--formWidth);
  margin-right: var(--formMarginRight);
}

/* Parti nom */
#divNomAddTagFormCollab{
  position: relative;
  margin-top: 3%;
}
#lblNomAddTagFormCollab{
  padding-top: var(--formPaddingTop);
}
#inputNomAddTagFormCollab{
  margin-left: var(--formMarginLeft);
  margin-top: var(--formMarginTop);
  width: var(--formWidth);
  margin-right: var(--formMarginRight);
}


/*
--------------------------------------------------------------------------
------ Parti formulaire collaborateur - Ajouter lieu
--------------------------------------------------------------------------
*/
/* Laisser obligatoirement même vide */
#divFormAddPlaceCollab{}

/* Div générale */
#divGeneralAddPlaceForm{
  text-align: left;
  margin-left:3%;
  font-size: 20px;
}

/* Parti nom */
#divNomAddPlaceForm{
  position: relative;
  margin-top: 3%;
}
#lblNomAddPlaceForm{
  padding-top: var(--formPaddingTop);
}
#inputNomAddPlaceForm{
  margin-left: var(--formMarginLeft);
  margin-top: var(--formMarginTop);
  width: var(--formWidth);
  margin-right: var(--formMarginRight);
}

/* Parti description */
#divDescriptionAddPlaceForm{
  position: relative;
  margin-top: 3%;
}
#lblDescriptionAddPlaceForm{
  padding-top: var(--formPaddingTop);
  vertical-align: top;
}
#inputDescriptionAddPlaceForm{
  margin-left: var(--formMarginLeft);
  margin-top: var(--formMarginTop);
  width: var(--formWidth);
  margin-right: var(--formMarginRight);
}

/* Parti lattitude */
#divLatitudeAddPlaceForm{
  position: relative;
  margin-top: 3%;
}
#lblLatitudeAddPlaceForm{
  padding-top: var(--formPaddingTop);
}
#inputLatitudeAddPlaceForm{
  margin-left: var(--formMarginLeft);
  margin-top: var(--formMarginTop);
  width: var(--formWidth);
  margin-right: var(--formMarginRight);
}

/* Parti longitude */
#divLongitudeAddPlaceForm{
  position: relative;
  margin-top: 3%;
}
#lblLongitudeAddPlaceForm{
  padding-top: var(--formPaddingTop);
}
#inputLongitudeAddPlaceForm{
  margin-left: var(--formMarginLeft);
  margin-top: var(--formMarginTop);
  width: var(--formWidth);
  margin-right: var(--formMarginRight);
}

/* Parti séléction tag correspondant */
#divMultiSelectTagAddPlaceForm {
  position: relative;
  margin-top: 3%;
}
#lblMultiSelectTagAddPlaceForm{
  padding-top: var(--formPaddingTop);
}
#btnBoxMultiSelectTagAddPlaceForm {
  margin-left: 5%;
  margin-top: var(--formMarginTop);
  width: 30%;
  margin-right: var(--formMarginRight);
}

#divCheckboxesTagAddPlaceForm {
  display: none;
  border: 1px #dadada solid;
  margin-left: var(--formMarginLeft);
  margin-top: var(--formMarginTop);
  width: var(--formWidth);
  margin-right: var(--formMarginRight);
}
#divCheckboxesTagAddPlaceForm label {
  display: block;
}
#divCheckboxesTagAddPlaceForm label:hover {
  background-color: #1e90ff;
}

/* Parti sélection image */
#divImgAddPlaceForm{
  position: relative;
  margin-top: 3%;
}
#lblImage{
  padding-top: var(--formPaddingTop);
}
#inputImgAddPlaceForm{
  margin-left: var(--formMarginLeft);
  margin-top: var(--formMarginTop);
  width: var(--formWidth);
  margin-right: var(--formMarginRight);
}


/*
--------------------------------------------------------------------------
------ Parti modification CSS en fonction des tailles
--------------------------------------------------------------------------
--------------------------------------------------------------------------
------ Parti - CSS petite taille (pour mobile)
--------------------------------------------------------------------------
*/
@media only screen and (max-width: 620px) {
/* Parti header */
  #imgLogo{
    width:28%;
  }

  #pTitleHeader{
      font-size:4vw;
  }

  #aLogout{
    font-size:3vw;
  }


/* Parti nom + titre collaborateur */
  #divNom{
    width: 90%;
    position:relative;
    height:auto;
    left: 1%;
  }
  #txtBonjour{
    font-size:4vw;
  }

  #divTagActif{
    width: 80%;
    position:relative;
    height: 70%;
    left: 7%;
    font-size: 3vw;
  }
  #divTagUniqueActif{
      height:80%;
  }


/* Parti recherche, tag favoris, tag liste */
  #divTagContainer{
    position:relative;
    font-size:3vw;
    width: 90%;
    background-color: transparent;
    margin-top: 0;
    height: auto;
    left: 9%;
  }

  #divRecherche {
    height: auto;
  }
  #inputRecherche{
    font-size:3vw;
  }
  #buttonRecherche{
    font-size:3vw;
  }
  #divListeTagsRecherches{
    height: auto;
  }

  #divTagFavoris{
    height: auto;
    top: 10px;
  }

  #divTagListe {
    height: fit-content;
    top: 10px;
  }


/* Parti map */
  #map{
    margin-top: 2%;
  }


/* Parti formulaire */
  .formCSS{
    left:5vw;
    width:90vw;
  }
  .formTitre{
    font-size:5vw;
  }
  .formLabel{
    font-size:4vw;
  }
  #btnAjouter{
    font-size:5vw;
  }
  #btnFermer{
    font-size:5vw;
  }
}


/*
--------------------------------------------------------------------------
------ Parti - CSS taille intermédiaire (entre 620px et 1100px)
--------------------------------------------------------------------------
*/
@media only screen and (max-width: 1100px) and (min-width: 620px) {
/* Parti recherche, tag favoris, tag liste */
  #divTagContainer{
    position:relative;
    width: 98%;
    margin-top: 10px;
    height: 25%;
    margin-bottom:10px;
  }

  #divRecherche {
    position: absolute;
    width: 25%;
    left: 2%;
  }
  #inputRecherche{
    margin-top:8%;
  }
  #divListeTagsRecherches {
    height: -webkit-fill-available;
  }

  #divTagFavoris{
    height: auto;
    position:absolute;
    left: 30%;
    width: 40%;
  }

  #divTagListe {
    height: 100%;
    position:absolute;
    left:70%;
    width: 30%;
  }
  #divScroll{
    height: 90%;
  }


/* Parti formulaire */
  .formCSS{
    left:25vw;
    width:50vw;
  }
  .formTitre{
    font-size:3vw;
  }
  .formLabel{
    font-size:2vw;
  }
  #btnAjouter{
    font-size:2.5vw;
  }
  #btnFermer{
    font-size:2.5vw;
  }
}
